<nav class="categories">
    <ul>
        <li> <a href="/" class="active">Home</a></li>
        <li> <a href="/kitchens/italian/">Italian</a></li>
        <li><a href="/kitchens/japanese/index.html">Japanese</a></li>
        <li> <a href="/kitchens/russian/index.html">Russian</a></li>
        <li> <a href="/kitchens/turkish/index.html">Turkish</a></li>
    </ul>
</nav>