<footer>
    <div class="footer-box">
        <div class="footer-header">Created by</div>
        <br>
        <ul>
            <li><a href="https://heidisgithub.github.io/portfolio/" target="_blank"><strong>H</strong>ayriye</a></li>
            <li><a href="https://mangofp.net" target="_blank"><strong>A</strong>ndres</a></li>
            <li><a href="https://raduliviu.github.io/portfolio/" target="_blank"><strong>R</strong>adu</a></li>
            <li><a href="https://elaktrato.github.io/portfolio/" target="_blank"><strong>E</strong>rik</a></li>
        </ul>
    </div>

    <div class="footer-box">
        <div class="footer-header">Follow us</div>
        <br>
        <img src="https://img.icons8.com/material-outlined/40/000000/instagram-new--v1.png" />
        <img src="https://img.icons8.com/windows/40/000000/facebook.png" />
        <img src="https://img.icons8.com/material-outlined/40/000000/youtube-play--v1.png" />

    </div>

    <div class="footer-box">
        <div class="footer-header"><a href="/about">About</a></div>
        <br>
        <div>Copyright ©HARE Kitchen. All Rights Reserved.</div>
        <a href="./privacy.html">Privacy Policy and Imprint</a>
    </div>



</footer>