<div class="kitchen">
    <a href="kitchens/italian">
        <img src="./Images/Italian/Pizza.jpg" alt="Italian food" class="kitchen-image">
        <div class="kitchen-description-layer">
            <p class="kitchen-description">
                Italian
            </p>
        </div>
    </a>
</div>

<%- include ("../partials/footer.ejs")%>
